.checkoutPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif; /* Change the font-family value */
}

.checkoutPage h3, .checkoutPage h4 {
    color: #333;
    margin-bottom: 15px;
}

.checkoutPage .refreshButton {
    background-color: #212850;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif; /* Change the font-family value */
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.checkoutPage .refreshButton:hover {
    background-color: #3e597f;
}

.checkoutPage .ordersSection {
    margin-bottom: 25px;
}

.checkoutPage .orderCard {
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.checkoutPage .orderCard:hover {
    transform: translateY(-4px);
}

.checkoutPage .orderCard h5 {
    font-weight: 600;
    color: #212850;
    margin-bottom: 10px;
}

.checkoutPage .pendingOrder {
    border-left: 6px solid #f59e0b;
}

.completedOrder {
    border-left: 6px solid #10b981;
}

.checkoutPage .fulfillButton {
    background-color: #212850;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.checkoutPage .fulfillButton:hover {
    background-color: #3e597f;
}

.checkoutPage ul {
    list-style: none;
    padding: 0;
}

.checkoutPage li {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.checkoutPage .transactionFeedback.success {
    color: #10b981;
    font-weight: 600;
}

.checkoutPage .transactionFeedback.error {
    color: #ef4444;
    font-weight: 600;
}
